body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #282c34; 
    color: #61dafb; 
}

.clock-container {
    text-align: center;
    padding: 30px 50px;
    border: 3px solid #61dafb;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(97, 218, 251, 0.7); 
    background-color: #1e1e24;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

.time {
    font-family: 'Digital-7', monospace; 
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 10px;
}

.date {
    font-size: 1.2em;
    color: #ffffff;
}


@font-face 
{
    font-family: 'Digital-7';    
}