/* style.css */

body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #111; 
}

/* Hide default HTML number input spinners (arrows) for a cleaner look */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}